# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pcd


#pointcloud files
*.pcd

#data results
*.csv

results/
build/
bt/
lib/
images/
map/ss
pcd/
bin/

ORBvoc.txt
#ORBvoc.txt.tar.gz
rgbd_tum/
pointcloud/
pcd/

realsense/bin

results

Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
Examples/RGB-D/rgbd_tum

KeyFrameTrajectory.txt



